* {
    border: 1px solid grey;
}

#home {
    height:100vh;
}

.overflow-wrap {
    overflow-x: hidden;
}

div {
    display: block;
}

section {
    line-height: 11pt;
    padding: 70px 0 70px 0;
    position: relative;
}

section:nth-of-type(1) {
    /* color: #fff; */
    height: calc(100% + 53px);
    padding: 0 10px;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    font-size: 16pt;
    line-height: 20pt;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
}

nav {
    position: sticky; 
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 25px 20px 12px 20px;
}
.collapsible-menu {
    
}
.collapsible-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    display: block;
    background: ;
    padding: 10px 0 10px 50px;
    position:absolute;
    right:10px;
    top: 10px;
}

input#menu {
    /* display:none; */
    position:absolute;
    right:10px;
    top:10px;
    border: solid red 1px;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 50px;
}

/* Toggle Effect */
input:checked ~ label {
    background-image: ;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

.link-wrap {

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
    grid-gap: 27px;
}
.card {
display: flex;
flex-direction: column;
}
.card-content {
    flex-grow: .75;
    display: flex;
    flex-direction: column;
}